## Pandas

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/AP-State-Skill-Development-Corporation/Datasets/master/Data%20Analysis/Advertising.csv")

In [3]:
data.shape

(200, 5)

In [4]:
data.head(10)

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9
5           6    8.7   48.9       75.0    7.2
6           7   57.5   32.8       23.5   11.8
7           8  120.2   19.6       11.6   13.2
8           9    8.6    2.1        1.0    4.8
9          10  199.8    2.6       21.2   10.6

In [5]:
data.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [6]:
data.describe()

       Unnamed: 0          TV       radio   newspaper       sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

In [7]:
data.info

<bound method DataFrame.info of      Unnamed: 0     TV  radio  newspaper  sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]>

In [8]:
data.isna().sum()

Unnamed: 0    0
TV            0
radio         0
newspaper     0
sales         0
dtype: int64

In [9]:
data.isnull().sum()

Unnamed: 0    0
TV            0
radio         0
newspaper     0
sales         0
dtype: int64

In [10]:
data.isna().sum().sum()

0

In [11]:
data.head(3)

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3

In [12]:
data.loc[0,3]

KeyError: 3

### loc --> location based indexing
### iloc --> index based indexing

In [ ]:
data.loc[0]

In [ ]:
data.loc[0][3]

In [ ]:
data.loc[0,'newspaper']

In [ ]:
table = pd.read_table("https://raw.githubusercontent.com/AP-State-Skill-Development-Corporation/Datasets/master/Data%20Analysis/chipotle.tsv.txt")

In [ ]:
table

In [ ]:
table.head(2)

In [ ]:
table.columns

In [ ]:
table.isna

In [ ]:
table.isnull().sum()

In [ ]:
table['choice_description'].head(10)

In [ ]:
table.drop('choice_description',axis=1)

In [ ]:
table.drop('choice_description',axis=1,inplace=True)

In [ ]:
table.isna().sum()

In [ ]:
table.set_index('item_name')

In [ ]:
table

In [ ]:
table.set_index('item_name',inplace=True)

In [ ]:
table

In [ ]:
table1 = pd.read_csv('https://raw.githubusercontent.com/AP-State-Skill-Development-Corporation/Datasets/master/Classification/diabetes.csv')

In [ ]:
table1

In [ ]:
table1.isna().sum()

In [ ]:
table.isnull().sum()

In [ ]:
table.index

In [ ]:
table1.shape

In [ ]:
table1.Outcome.unique()

In [ ]:
table1.Outcome.unique().sum()

In [ ]:
table1[table1['Outcome']==1].count()

In [ ]:
table1[table1['Outcome']==0].count()

In [ ]:
tab_data2 = pd.read_table("https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/u.user")

In [ ]:
tab_data2.head

In [ ]:
tab_data2 = pd.read_table("https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/u.user",sep="|",header=None)

In [ ]:
tab_data2

In [ ]:
col = ['SI Np','Age','Gender','Designation','EmpID/StudId']
tab_data2 = pd.read_table("https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/u.user",sep='|',header=None)
tab_data2

In [ ]:
tab_data2[3].unique()

In [ ]:
tab_data2[tab_data2[3]=='student'].count()

In [ ]:
tab_data2[tab_data2[3]=='entertainment'].count()

In [ ]:
tit = pd.read_csv("https://raw.githubusercontent.com/AP-State-Skill-Development-Corporation/Datasets/master/Classification/titanic.csv")

In [ ]:
tit.isna().sum()

In [ ]:
tit.isnull().sum()

In [ ]:
tit.describe

### If we need to apply any data set to ML, all the columns datatype must in either integer or float
- get_dumies
- label encoder

In [ ]:
tit.isna().sum()

In [ ]:
tit['age'].unique()

In [14]:
tit['age'].fillna(tit['age'].mean(),inplace=True)

NameError: name 'tit' is not defined

In [ ]:
tit.isna().sum()

In [ ]:
tit['cabin'].unique()

In [ ]:
tit.drop('cabin',axis=1,inplace=True)

In [ ]:
tit.index

In [ ]:
tit['embarked'].unique()

In [ ]:
tit[tit['embarked']=='C'].count()

In [ ]:
tit[tit['embarked']=='S'].count()

In [ ]:
tit['embarked'].isna().sum()

In [ ]:
tit.isna().sum()

In [ ]:
tit.info()

In [ ]:
pd.get_dummies(tit['sex'])

In [ ]:
tit.sex

In [ ]:
from sklearn.preprocessing import LabelEncoder
lab = LabelEncoder()

In [ ]:
tit['sex']=lab.fit_transform(tit['sex'])

In [ ]:
tit.info()

In [ ]:
tit.embarked

In [ ]:
tit['embarked'] = lab.fit_transform(tit['embarked'])
tit.info()

### Find and delete Dupplicate

In [ ]:
dic = {'student':['sandeep',"gopi","ashok",'gopi'],'sports':['cricket','volley ball','kabbadi','volley ball'],'subject':['Python','c','Java','c']}

In [ ]:
a=pd.DataFrame(dic,index=['a','b','c','d'])

### Data duplicated()

In [ ]:
a.duplicated()

In [ ]:
a[a.duplicated()]

### DataFrame.drop_duplicates()

In [ ]:
a.drop_duplicates(inplace=True)

In [ ]:
a

### Data preprocessing

In [ ]:
import matplotlib.pyplot as plt
l1 = [0,1,2,3,4,5,6,7,8,9,10,11]
l2 = [0,1,2,3,4,5,6,7,8,9,10,11]
plt.scatter(l1,l2)

### Scikit-Learn
- One of the python library which is important for machine learing
- Scikit Learn contains ML models like K nearest neighbours, k means etc.. and preprocessing models etc..

In [ ]:
import sklearn as sk

In [ ]:
print(dir(sk))

### Scaling Models
- MinMax scalar
- Robust scalar
- Standardization
- Normalization

### 1. MinMax scalar()
- It will scale all the data point in between 0 to 1(or -1 to +1)

In [ ]:
# MinMax Scalar formula
#   Xi - min(X)
# ---------------------
#    max(X) - min(X)

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/nagamounika5/Datasets/master/Advertisement.csv')

In [ ]:
data.head(5)

In [ ]:
data

In [ ]:
data['TV'].min()

In [ ]:
data['TV'].max()

In [ ]:
(230.1-0.7)/(296.4-0.7)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
m = MinMaxScaler()
m

In [ ]:
(44.5-0.7)/(296.4-0.7)

In [ ]:
m2 = m.fit_transform(data)
m2

In [ ]:
m2 = pd.DataFrame(m2,columns=data.columns)
m2.head

In [ ]:
fig, (ax1,ax2) = plt.subplots(ncols=2,figsize=(9,5))

In [ ]:
import seaborn as sns

In [ ]:
fig, (ax1,ax2) = plt.subplots(ncols=2,figsize=(9,5))
sns.kdeplot(data['TV'],ax=ax1)
sns.kdeplot(data['radio'],ax=ax1)
sns.kdeplot(data['newspaper'],ax=ax1)
sns.kdeplot(data['sales'],ax=ax1)

sns.kdeplot(m2['TV'],ax=ax2)
sns.kdeplot(m2['radio'],ax=ax2)
sns.kdeplot(m2['newspaper'],ax=ax2)
sns.kdeplot(m2['sales'],ax=ax2)