### Agenda
- Linear regression with multiple variable
- Polynomial regression

## +ve Linear relation
    - input and output have increased viceversa
## -ve linear relation
    - input incresed and output decresed, vice versa
## Polynomial regression
- y = ax^2 + bx +c (for degree 2)
- y = ax^3 + bx^2 + cx + d

## Linear regression with multiple variables
- Multiple feartures as input
- Single output 
### steps for machine learning algorithms
1. load the data
2. Data preprocessing and data wrangling
3. Define the input and output featurea
4. apply or train data
5. test the model
6. Evalution metrics for the model

In [1]:
# import required packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/AP-State-Skill-Development-Corporation/Datasets/master/Regression/headbrain.csv')
data.head(10)

   Gender  Age Range  Head Size(cm^3)  Brain Weight(grams)
0       1          1             4512                 1530
1       1          1             3738                 1297
2       1          1             4261                 1335
3       1          1             3777                 1282
4       1          1             4177                 1590
5       1          1             3585                 1300
6       1          1             3785                 1400
7       1          1             3559                 1255
8       1          1             3613                 1355
9       1          1             3982                 1375

In [3]:
data.describe()

           Gender   Age Range  Head Size(cm^3)  Brain Weight(grams)
count  237.000000  237.000000       237.000000           237.000000
mean     1.434599    1.535865      3633.991561          1282.873418
std      0.496753    0.499768       365.261422           120.340446
min      1.000000    1.000000      2720.000000           955.000000
25%      1.000000    1.000000      3389.000000          1207.000000
50%      1.000000    2.000000      3614.000000          1280.000000
75%      2.000000    2.000000      3876.000000          1350.000000
max      2.000000    2.000000      4747.000000          1635.000000

In [4]:
data.isna().sum()

Gender                 0
Age Range              0
Head Size(cm^3)        0
Brain Weight(grams)    0
dtype: int64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Gender               237 non-null    int64
 1   Age Range            237 non-null    int64
 2   Head Size(cm^3)      237 non-null    int64
 3   Brain Weight(grams)  237 non-null    int64
dtypes: int64(4)
memory usage: 7.5 KB

In [6]:
data.columns

Index(['Gender', 'Age Range', 'Head Size(cm^3)', 'Brain Weight(grams)'], dtype='object')

In [7]:
data.Gender.unique

<bound method Series.unique of 0      1
1      1
2      1
3      1
4      1
      ..
232    2
233    2
234    2
235    2
236    2
Name: Gender, Length: 237, dtype: int64>

In [8]:
data['Gender'].value_counts()

1    134
2    103
Name: Gender, dtype: int64

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Gender               237 non-null    int64
 1   Age Range            237 non-null    int64
 2   Head Size(cm^3)      237 non-null    int64
 3   Brain Weight(grams)  237 non-null    int64
dtypes: int64(4)
memory usage: 7.5 KB

In [10]:
# defining features
input_data = data.drop('Brain Weight(grams)',axis=1)
output_data = data['Brain Weight(grams)']
input_data.head()

   Gender  Age Range  Head Size(cm^3)
0       1          1             4512
1       1          1             3738
2       1          1             4261
3       1          1             3777
4       1          1             4177

In [11]:
output_data.head()

0    1530
1    1297
2    1335
3    1282
4    1590
Name: Brain Weight(grams), dtype: int64

In [12]:
# appling the model
from sklearn.linear_model import LinearRegression
linear = LinearRegression()

In [13]:
# train the model by using fit method
linear.fit(input_data,output_data)

LinearRegression()

In [14]:
# test the model
predict = linear.predict(input_data)
predict[0]

1519.9345238625135

In [15]:
# Evalute the model
linear.score(input_data,output_data)*100

65.28346387526655

In [16]:
## predict manually
linear.predict([[1,2,5000]])

array([1615.14141201])

In [17]:
linear.intercept_

464.5628108859082

In [18]:
linear.coef_#y=mx+c

array([-22.5432537 , -23.96844543,   0.24421175])

In [19]:
data1=pd.read_csv('https://raw.githubusercontent.com/AP-State-Skill-Development-Corporation/Datasets/master/Regression/AppleStore.csv')

In [20]:
data1.head()

,Unnamed: 0,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
0,1,281656475,PAC-MAN Premium,100788224,USD,3.99,21292,26,4.0,4.5,6.3.5,4+,Games,38,5,10,1
1,2,281796108,Evernote - stay organized,158578688,USD,0.00,161065,26,4.0,3.5,8.2.2,4+,Productivity,37,5,23,1
2,3,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,USD,0.00,188583,2822,3.5,4.5,5.0.0,4+,Weather,37,5,3,1
3,4,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,USD,0.00,262241,649,4.0,4.5,5.10.0,12+,Shopping,37,5,9,1
4,5,282935706,Bible,92774400,USD,0.00,985920,5320,4.5,5.0,7.5.1,4+,Reference,37,5,45,1

In [21]:
from sklearn.preprocessing import LabelEncoder as lab
lab1 = lab()

In [22]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7197 entries, 0 to 7196
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        7197 non-null   int64
 1   id                7197 non-null   int64
 2   track_name        7197 non-null   object
 3   size_bytes        7197 non-null   int64
 4   currency          7197 non-null   object
 5   price             7197 non-null   float64
 6   rating_count_tot  7197 non-null   int64
 7   rating_count_ver  7197 non-null   int64
 8   user_rating       7197 non-null   float64
 9   user_rating_ver   7197 non-null   float64
 10  ver               7197 non-null   object
 11  cont_rating       7197 non-null   object
 12  prime_genre       7197 non-null   object
 13  sup_devices.num   7197 non-null   int64
 14  ipadSc_urls.num   7197 non-null   int64
 15  lang.num          7197 non-null   int64
 16  vpp_lic           7197 non-null   int64
dtypes: float64(3), int64(9), object(5)
memory usage: 956.0+ KB

In [23]:
# converting object type to interger
data1['currency']= lab1.fit_transform(data1['currency'])
data1['ver']= lab1.fit_transform(data1['ver'])
data1['cont_rating']= lab1.fit_transform(data1['cont_rating'])
data1['prime_genre']= lab1.fit_transform(data1['prime_genre'])

In [24]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7197 entries, 0 to 7196
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        7197 non-null   int64
 1   id                7197 non-null   int64
 2   track_name        7197 non-null   object
 3   size_bytes        7197 non-null   int64
 4   currency          7197 non-null   int32
 5   price             7197 non-null   float64
 6   rating_count_tot  7197 non-null   int64
 7   rating_count_ver  7197 non-null   int64
 8   user_rating       7197 non-null   float64
 9   user_rating_ver   7197 non-null   float64
 10  ver               7197 non-null   int32
 11  cont_rating       7197 non-null   int32
 12  prime_genre       7197 non-null   int32
 13  sup_devices.num   7197 non-null   int64
 14  ipadSc_urls.num   7197 non-null   int64
 15  lang.num          7197 non-null   int64
 16  vpp_lic           7197 non-null   int64
dtypes: float64(3), int32(4), int64(9), object(1)
memory usage: 843.5+ KB

In [25]:
#droping unwanted columns
data1.drop(['Unnamed: 0','track_name'],axis = 1,inplace=True)

In [26]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7197 entries, 0 to 7196
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                7197 non-null   int64
 1   size_bytes        7197 non-null   int64
 2   currency          7197 non-null   int32
 3   price             7197 non-null   float64
 4   rating_count_tot  7197 non-null   int64
 5   rating_count_ver  7197 non-null   int64
 6   user_rating       7197 non-null   float64
 7   user_rating_ver   7197 non-null   float64
 8   ver               7197 non-null   int32
 9   cont_rating       7197 non-null   int32
 10  prime_genre       7197 non-null   int32
 11  sup_devices.num   7197 non-null   int64
 12  ipadSc_urls.num   7197 non-null   int64
 13  lang.num          7197 non-null   int64
 14  vpp_lic           7197 non-null   int64
dtypes: float64(3), int32(4), int64(8)
memory usage: 731.1 KB

In [27]:
x_train = data1.drop('price',axis=1)
y_train = data1['price']

In [ ]:
sns.pairplot(data1)

In [ ]:
from sklearn.linear_model import LinearRegression
linear = LinearRegression()
linear.fit(x_train,y_train)
pred = linear.predict(x_train)
pred[0]

In [ ]:
linear.score(x_train,y_train)*100

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_train,pred)*100